.navbar{
    text-align: center;
    background-color: black;
    height: 8vh;
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    border: 2px solid black;


}

a{
    
    background-image: url(SPPU.jpg);
    height: 50px;
    width: 100px;
    background-size: cover;
    margin-top: 50px;
}